---
layout: default
---



<div class="bg-white relative z-1">
    
    <div id="cv-modal" tabindex="-1" class="bg-cv-dark bg-opacity-50 fixed inset-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-4xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-5 border-b rounded-t">
                    <h3 class="text-xl font-medium text-gray-900">
                        CV Preview
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="cv-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <div class="hidden md:block">
                        <iframe src="{{ site.baseurl }}/dist/images/CV_Refi.pdf#page=1&zoom=300" class="mx-auto" width="500" height="600" loading="eager" frameborder="1"></iframe>
                    </div>
                    <div class="md:hidden">
                        <iframe src="{{ site.baseurl }}/dist/images/CV_Refi.pdf#page=1&zoom=300" class="mx-auto" width="300" height="400" loading="eager" frameborder="1"></iframe>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b justify-between">
                    <a href="{{ site.baseurl }}/dist/images/CV_Refi.pdf" onclick="return confirm('Download CV Refi Ahmad Fauzan ?')" download class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">download</a>
                    <button data-modal-hide="cv-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- START ABOUT SECTION -->
    <section id="about" class="pt-36 bg-white">
        <div class="container">
            <div class="about-me mb-20">
                <div class="inline-flex items-center justify-center w-full mb-12">
                    <hr class="w-full h-2 me-46 focus:my-8 bg-cv-blue-primary border-0">
                    <h1 class="text-cv-dark absolute pr-5 pl-5 lg:pl-12 lg:pr-16 text-3xl md:text-4xl font-medium -translate-x-1/2 bg-white left-0 md:left-10 lg:left-48">About Me</h1>
                </div>
                        
                {% for about in site.abouts %}
                <div class="w-full lg:w-2/3 mx-auto p-6 bg-white border border-gray-200 hover:shadow-lg transition duration-300 ease-in-out rounded-lg shadow-sm">
                    <blockquote class="text-center md:text-left md:text-xl font-normal text-cv-light-gray">
                        <p>{{ about.content }}</p>
                    </blockquote>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- END ABOUT SECTION -->

    <!-- START EDUCATION SECTION -->
    <section id="education" class="pt-10 bg-white">
        <div class="container mb-20">
            <div class="inline-flex items-center justify-center w-full mb-12">
                <hr class="w-full h-2 me-46 focus:my-8 bg-cv-blue-primary border-0">
                <h1 class="text-cv-dark absolute pr-5 pl-5 lg:pl-12 lg:pr-16 text-3xl md:text-4xl font-medium -translate-x-1/2 bg-white left-0 md:left-10 lg:left-48">Education</h1>
            </div>
            <div class="w-full lg:w-2/3 mx-auto p-6 bg-white border border-gray-200 hover:shadow-lg transition duration-300 ease-in-out rounded-lg shadow-sm">
                <ol class="relative border-l border-cv-blue-primary">                  
                    {% for education in site.educations %}
                        <li class="ml-6">            
                            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white ">
                                <svg fill="currentColor" class="w-3 h-3 text-cv-blue-primary-dark " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path d="M11.7 2.805a.75.75 0 01.6 0A60.65 60.65 0 0122.83 8.72a.75.75 0 01-.231 1.337 49.949 49.949 0 00-9.902 3.912l-.003.002-.34.18a.75.75 0 01-.707 0A50.009 50.009 0 007.5 12.174v-.224c0-.131.067-.248.172-.311a54.614 54.614 0 014.653-2.52.75.75 0 00-.65-1.352 56.129 56.129 0 00-4.78 2.589 1.858 1.858 0 00-.859 1.228 49.803 49.803 0 00-4.634-1.527.75.75 0 01-.231-1.337A60.653 60.653 0 0111.7 2.805z"></path>
                                    <path d="M13.06 15.473a48.45 48.45 0 017.666-3.282c.134 1.414.22 2.843.255 4.285a.75.75 0 01-.46.71 47.878 47.878 0 00-8.105 4.342.75.75 0 01-.832 0 47.877 47.877 0 00-8.104-4.342.75.75 0 01-.461-.71c.035-1.442.121-2.87.255-4.286A48.4 48.4 0 016 13.18v1.27a1.5 1.5 0 00-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.661a6.729 6.729 0 00.551-1.608 1.5 1.5 0 00.14-2.67v-.645a48.549 48.549 0 013.44 1.668 2.25 2.25 0 002.12 0z"></path>
                                    <path d="M4.462 19.462c.42-.419.753-.89 1-1.394.453.213.902.434 1.347.661a6.743 6.743 0 01-1.286 1.794.75.75 0 11-1.06-1.06z"></path>
                                </svg>
                            </span>
                            <div class="flex flex-col md:flex-row md:justify-between text-cv-dark">
                                <h3 class="flex items-center mb-1 text-xl lg:text-2xl font-semibold ">{{ education.school_name }}</h3>
                                <h3 class="flex items-center mb-1 text-x lg:text-xl font-normal">{{ education.years }}</h3>
                            </div>
                            <h4 class="flex items-center mb-1 text-x lg:text-xl font-normal text-cv-dark">{{ education.location }}</h4>
                            <h3 class="flex items-center mb-1 text-x font-normal text-cv-dark">{{ education.title }}</h3>
                            <ul class="w-full space-y-1 mb-4 list-disc list-inside text-base font-normal text-cv-light-gray ">
                                {{ education.content }}                                
                            </ul>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>
    <!-- END EDUCATION SECTION -->

    <!-- START CERTIFICATION SECTION -->
    <section id="certification" class="pt-10 bg-white">
        <div class="container mb-20">
            <div class="inline-flex items-center justify-center w-full mb-12">
                <hr class="w-full h-2 me-46 focus:my-8 bg-cv-blue-primary border-0">
                <h1 class="text-cv-dark absolute pr-5 pl-5 lg:pl-12 lg:pr-16 text-3xl md:text-4xl font-medium -translate-x-1/2 bg-white left-0 md:left-10 lg:left-48">Certification</h1>
            </div>
    
            <div class="w-full lg:w-2/3 mx-auto p-6 bg-white border border-gray-200 hover:shadow-lg transition duration-300 ease-in-out rounded-lg shadow-sm">
                <dl class="w-full text-gray-900 divide-y divide-gray-200">
                    {% for certification in site.certifications %}
                    <div class="flex flex-row py-3">
                        <img src="{{ site.baseurl }}/{{ certification.organizer_image }}" class="rounded-md mr-3 w-16 h-16" alt="{{ certification.organizer_name }}">
                        <div class="flex flex-col">
                            <dd class="mb-1 text-lg text-cv-dark font-semibold">{{ certification.title }}</dd>
                            <dt class="text-cv-dark text-l">{{ certification.organizer_name }}</dt>
                            <dd class="text-cv-light-gray text-l">{{ certification.due_date }}</dd>
                            <dd class="mb-4 text-cv-light-gray text-l">{{ certification.credentials }}</dd>
                            <a href="{{ certification.credentials_link }}" target="_blank" class="text-cv-light-gray bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 w-52 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                                Show credential
                                <svg fill="currentColor" class="w-6 h-5 ml-2 -mr-1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </dl>  
            </div>
        </div>
    </section>
    <!-- END CERTIFICATION SECTION -->

    <!-- START SKILLS SECTION -->
    <section id="skills" class="pt-10 ">
        <div class="container mb-20 bg-white">
            <div class="inline-flex items-center justify-center w-full mb-12">
                <hr class="w-full h-2 me-46 focus:my-8 bg-cv-blue-primary border-0">
                <h1 class="text-cv-dark absolute pr-5 pl-5 lg:pl-12 lg:pr-16 text-3xl md:text-4xl font-medium -translate-x-1/2 bg-white left-0 md:left-10 lg:left-48">Skills</h1>
            </div>
    
            <div class="development mb-12">
                <h4 class="text-cv-dark text-3xl font-semibold text-center mb-5">Development</h4>
                <div class="w-full mx-auto grid grid-cols md:grid-cols-3 lg:grid-cols-5 gap-4">
                    {% for skill in site.skills %}
                        <div class="bg-white border border-gray-200 hover:shadow-lg transition duration-300 ease-in-out rounded-lg shadow-sm cursor-pointer" data-modal-target="{{ skill.modal_id }}" data-modal-toggle="{{ skill.modal_id }}">
                            <div class="text-center m-5">
                                <img src="{{ site.baseurl }}/{{ skill.image }}" class="w-16 h-16 mx-auto m-3" alt="html">
                                <h5 class="font-semibold text-cv-dark">{{ skill.name }}</h5>
                                <h6 class="text-cv-light-gray">{{ skill.ability }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    
            <div class="languages mt-12">
                <h4 class="text-cv-dark text-3xl font-semibold text-center mb-5">Languages</h4>
                <div class="w-full lg:w-2/3 mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
                    {% for language in site.languages %}
                        <div class="bg-white border border-gray-200 hover:shadow-lg transition duration-300 ease-in-out rounded-lg shadow-sm">
                            <div class="text-center m-5">
                                <img src="{{ site.baseurl }}/{{ language.image }}" class="w-16 h-16 mx-auto m-3" alt="{{ language.name }}">
                                <h5 class="font-semibold text-cv-dark">{{ language.name }}</h5>
                                <h6 class="text-cv-light-gray">{{ language.ability }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="modals"> 
            {% for skill in site.skills %}
                <div id="{{ skill.modal_id }}" tabindex="-1" class="bg-cv-dark bg-opacity-50 fixed inset-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative w-full max-w-md max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow">
                            <!-- Modal header -->
                            <div class="flex items-center justify-between p-5 border-b rounded-t">
                                <h3 class="text-xl font-medium text-cv-dark">
                                    {{ skill.name }}
                                </h3>
                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="{{ skill.modal_id }}">
                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-6 space-y-6">
                                <div class="flex flex-row">
                                    <img src="{{ site.baseurl }}/{{ skill.image }}" class="w-16 h-16 m-3" alt="{{ skill.name }}">
                                    <div class="text-sm mt-3">
                                        <h5 class="font-semibold text-xl text-cv-dark">{{ skill.name }}</h5>
                                        <h6 class="text-cv-light-gray">Other tools or library :</h6>
                                        <h5 class="text-cv-dark">{{ skill.other_tools }}</h5>
                                    </div>
                                </div>
                                <hr class="h-px my-8 bg-gray-200 border-0">
                                <p class="text-base leading-relaxed text-gray-500">
                                    {{ skill.description }}
                                </p>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                                <button data-modal-hide="{{ skill.modal_id }}" type="button" class="text-gray-500 bg-white ml-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- END SKILLS SECTION -->

    <!-- START EXPERIENCE SECTION -->
    <section id="experience" class="pt-10 bg-white">
        <div class="container mb-20">
            <div class="inline-flex items-center justify-center w-full mb-12">
                <hr class="w-full h-2 me-46 focus:my-8 bg-cv-blue-primary border-0">
                <h1 class="text-cv-dark absolute pr-5 pl-5 lg:pl-12 lg:pr-16 text-3xl md:text-4xl font-medium -translate-x-1/2 bg-white left-0 md:left-10 lg:left-48">Work Experience</h1>
            </div>
    
            <div class="w-full lg:w-2/3 mx-auto p-6 bg-white border border-gray-200 hover:shadow-lg transition duration-300 ease-in-out rounded-lg shadow-sm">
                <ol class="relative border-l border-cv-blue-primary">
                    {% for experience in site.experiences %}
                        <li class="ml-6">            
                            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white ">
                                <svg fill="currentColor" class="w-3 h-3 text-cv-blue-primary-dark" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"></path>
                                    <path d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z"></path>
                                </svg>
                            </span>
                            <div class="flex flex-col md:flex-row md:justify-between text-cv-dark">
                                <h3 class="flex items-center mb-1 text-xl md:text-2xl font-semibold ">{{ experience.role }}</h3>
                                <h3 class="flex items-center mb-1 text-x md:text-xl font-normal">{{ experience.job_date }}</h3>
                            </div>
                            <h4 class="flex items-center mb-1 text-x md:text-xl font-normal text-cv-dark">{{ experience.company }}</h4>
                            <h4 class="flex items-center mb-1 text-x md:text-xl font-normal text-cv-dark">{{ experience.location }}</h4>
                            <ul class="w-full space-y-1 mb-4 list-disc list-inside text-base font-normal text-cv-light-gray ">
                                {{ experience.content }}
                            </ul>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>
    <!-- END EXPERIENCE SECTION -->

    <!-- START PROJECT SECTION -->
    <section id="project" class="pt-10 bg-white">
        <div class="container mb-20">
            <div class="inline-flex items-center justify-center w-full mb-12">
                <hr class="w-full h-2 me-46 focus:my-8 bg-cv-blue-primary border-0">
                <h1 class="text-cv-dark absolute pr-5 pl-5 lg:pl-12 lg:pr-16 text-3xl md:text-4xl font-medium -translate-x-1/2 bg-white left-0 md:left-10 lg:left-48">Project</h1>
            </div>
    
            <div class="w-full mx-auto grid grid-cols md:grid-cols-3 gap-4">
                {% for project in site.projects %}
                    <div class="bg-white border border-gray-200 hover:shadow-lg transition duration-300 ease-in-out rounded-lg shadow-sm cursor-pointer" data-modal-target="{{ project.modal_id }}" data-modal-toggle="{{ project.modal_id }}">
                        <img src="{{ site.baseurl }}/{{ project.preview_image }}" class="h-52 md:h-56 lg:h-60 w-full border-b border-gray-200" alt="{{ project.name }}">
                        <h3 class="text-xl font-semibold text-cv-dark my-2 mx-4">{{ project.name }}</h3>
                        <p class="text-base leading-relaxed text-cv-light-gray mb-4 mx-4">
                            {{ project.short_description }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% for project in site.projects %}
            <div id="{{ project.modal_id }}" tabindex="-1" class="bg-cv-dark bg-opacity-50 fixed z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative w-full max-w-4xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-5 border-b rounded-t">
                            <h3 class="text-xl font-medium text-cv-dark">
                                {{ project.name }} Project
                            </h3>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="{{ project.modal_id }}">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-6 space-y-6 h-80 overflow-y-auto md:h-full">
                            <div class="flex flex-col">

                                <div id="animation-carousel" class="relative w-full" data-carousel="static">
                                    <!-- Carousel wrapper -->
                                    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                                        {% for image in project.images %}
                                            <div class="hidden duration-200 ease-linear" data-carousel-item>
                                                <img src="{{ site.baseurl }}/{{ image.url }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2" alt="{{ project.name }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Slider controls -->
                                    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                                        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-cv-blue-primary group-hover:bg-cv-blue-primary-dark group-focus:ring-4 group-focus:ring-cv-blue-primary group-focus:outline-none">
                                            <svg aria-hidden="true" class="w-5 h-5 sm:w-6 sm:h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                                            <span class="sr-only">Previous</span>
                                        </span>
                                    </button>
                                    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                                        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-cv-blue-primary group-hover:bg-cv-blue-primary-dark group-focus:ring-4 group-focus:ring-cv-bg-cv-blue-primary group-focus:outline-none">
                                            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                                            <span class="sr-only">Next</span>
                                        </span>
                                    </button>
                                </div>
                                <hr class="h-px mt-2 bg-gray-200 border-0">
                                <div class="text-sm mt-3">
                                    <h5 class="font-semibold text-xl text-cv-dark">{{ project.name }}</h5>
                                    <h6 class="font-semibold text-cv-dark-gray my-1">Roles :</h6>
                                    <h5 class="text-cv-light-gray">{{ project.role }}</h5>
                                    <h6 class="font-semibold text-cv-dark-gray my-1">Technologies Used :</h6>
                                    <h5 class="text-cv-light-gray">{{ project.technologies_used }}</h5>
                                    <h6 class="font-semibold text-cv-dark-gray my-1">Description :</h6>
                                    <div class="text-cv-light-gray">{{ project.content | markdownify  }} </div>
                                </div>
                            </div>                        
                        </div>
                        <!-- Modal footer -->
                        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                            <button data-modal-hide="{{ project.modal_id }}" type="button" class="text-gray-500 bg-white ml-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <!-- END PROJECT SECTION -->

    <!-- START CONTACT SECTION -->
    <section id="contact" class="pt-10 bg-cv-dark">
        <div class="container pb-20">
            <div class="inline-flex items-center justify-center w-full">
                <hr class="w-full h-2 my-8 bg-cv-blue-primary border-0">
                <span class="absolute px-3 font-medium text-center text-3xl md:text-4xl text-white -translate-x-1/2 bg-cv-dark left-50">Contact</span>
            </div>

            <div class="w-full flex flex-col md:flex-row md:justify-between">
                <div class="information">
                    <div class="email flex flex-row mb-2">
                        <svg fill="currentColor" class="w-6 h-5 mr-2 -ml-1 text-cv-blue-primary" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"></path>
                            <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"></path>
                        </svg>
                        <a href="mailto:refi.ahmad.fauzn@gmail.com" class="text-white hover:underline hover:underline-offsite-4">refi.ahmad.fauzn@gmail.com</a>
                    </div>
                    <div class="email flex flex-row mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-5 mr-2 -ml-1 text-cv-blue-primary" viewBox="0 0 24 24" id="github">
                            <path d="M12,2.2467A10.00042,10.00042,0,0,0,8.83752,21.73419c.5.08752.6875-.21247.6875-.475,0-.23749-.01251-1.025-.01251-1.86249C7,19.85919,6.35,18.78423,6.15,18.22173A3.636,3.636,0,0,0,5.125,16.8092c-.35-.1875-.85-.65-.01251-.66248A2.00117,2.00117,0,0,1,6.65,17.17169a2.13742,2.13742,0,0,0,2.91248.825A2.10376,2.10376,0,0,1,10.2,16.65923c-2.225-.25-4.55-1.11254-4.55-4.9375a3.89187,3.89187,0,0,1,1.025-2.6875,3.59373,3.59373,0,0,1,.1-2.65s.83747-.26251,2.75,1.025a9.42747,9.42747,0,0,1,5,0c1.91248-1.3,2.75-1.025,2.75-1.025a3.59323,3.59323,0,0,1,.1,2.65,3.869,3.869,0,0,1,1.025,2.6875c0,3.83747-2.33752,4.6875-4.5625,4.9375a2.36814,2.36814,0,0,1,.675,1.85c0,1.33752-.01251,2.41248-.01251,2.75,0,.26251.1875.575.6875.475A10.0053,10.0053,0,0,0,12,2.2467Z"/>
                        </svg>
                        <a href="https://github.com/Djebreds" target="_blank" class="text-white hover:underline hover:underline-offsite-4">Djebreds</a>
                    </div>
                    <div class="linkedin flex flex-row mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-5 mr-2 -ml-1 text-cv-blue-primary" viewBox="0 0 24 24" id="linkedin">
                            <path d="M20.47,2H3.53A1.45,1.45,0,0,0,2.06,3.43V20.57A1.45,1.45,0,0,0,3.53,22H20.47a1.45,1.45,0,0,0,1.47-1.43V3.43A1.45,1.45,0,0,0,20.47,2ZM8.09,18.74h-3v-9h3ZM6.59,8.48h0a1.56,1.56,0,1,1,0-3.12,1.57,1.57,0,1,1,0,3.12ZM18.91,18.74h-3V13.91c0-1.21-.43-2-1.52-2A1.65,1.65,0,0,0,12.85,13a2,2,0,0,0-.1.73v5h-3s0-8.18,0-9h3V11A3,3,0,0,1,15.46,9.5c2,0,3.45,1.29,3.45,4.06Z"/>
                        </svg>
                        <a href="https://www.linkedin.com/in/refi-ahmad-fauzan/" target="_blank" class="text-white hover:underline hover:underline-offsite-4">Refi Ahmad Fauzan</a>
                    </div>
                    <div class="location flex flex-row mb-2">
                        <svg fill="currentColor" class="w-6 h-6 mr-2 -ml-1 text-cv-blue-primary" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"></path>
                        </svg>
                        <p class="text-white">Bandung District, West Java, 40912, Indonesia</p>
                    </div>
                </div>
                <div class="form w-full md:w-2/5">                    
                    <form action="https://formspree.io/f/mlekkkjv" method="POST">                        
                        <div class="mb-6">
                            <label for="name" class="block mb-2 text-sm font-medium text-white">Name</label>
                            <input type="text" id="name" name="name" placeholder="example" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-cv-light-gray placeholder-gray-400 text-white focus:ring-cv-blue-primary focus:border-cv-blue-primary"  placeholder="john.doe@company.com" required>
                        </div> 
                        <div class="mb-6">
                            <label for="email" class="block mb-2 text-sm font-medium text-white">Email address</label>
                            <input type="email" id="email" name="email" placeholder="example@example.com" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-cv-light-gray placeholder-gray-400 text-white focus:ring-cv-blue-primary focus:border-cv-blue-primary"  placeholder="john.doe@company.com" required>
                        </div> 
                        <div class="mb-6">
                            <label for="message" class="block mb-2 text-sm font-medium text-white">Your message</label>
                            <textarea id="message" rows="4" name="message" class="block p-2.5 w-full text-sm rounded-lg border bg-gray-700 border-cv-light-gray placeholder-gray-400 text-white focus:ring-cv-blue-primary focus:border-cv-blue-primary" placeholder="Write your message here..."></textarea>
                        </div>
                        <div class="flex flex-row">
                            <button type="submit" class="text-white ml-auto bg-cv-blue-primary hover:bg-cv-blue-primary-dark focus:ring-4 focus:outline-none focus:ring-cv-blue-primary font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTACT SECTION -->

    <footer class="text-center bg-cv-dark text-white font-normal pb-5">
        <p class="text-sm border-t border-cv-light-gray pt-5">
            Created by <a href="" class="text-cv-blue-primary font-semibold">Refi Ahmad Fauzan</a>, with <a href="" class="text-sky-500 font-semibold">Tailwind CSS & Jekyll</a> © 2023
        </p>
    </footer>
</div>